
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* body {
        background-color: rgb(102, 102, 102);

} */

h1 {
        font-family: Ubuntu;
        color: whitesmoke;
        text-align: center;
}
